* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-section {
    background-color: black;
    color: #FFF;
    min-height: 500px;
    height: 100%;
}
.fixed-content{
    width: auto;
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
    padding: 40px;
    text-align: center;
}
.port{
    border-radius: 50%;
    border: 6px #ccc solid;
    width: 16%;
}

.header-section h2{
    color: white;
    font-size: 2rem;
    line-height: 1.5;
    /* font-weight: 400; */
}

.header-section p {
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-bottom: 0.7rem;
    line-height: 1.5;
}

.icon-row{
    margin: 45px auto;
    width: 100%;
}

.icon-row i {
    border-radius: 4px;
    cursor: pointer;
    font-size: 44px;
    margin: 0px 10px;
    padding: 0px 3px;
    transition: all 400ms ease-in-out;
}

i {
    color:white;
}

i.icon:hover{
    background-color: whitesmoke;
    border: 1px solid white;
    color: black;
}

.second-Section {
    background: #eee;
    color: #888;
    width: 100%;
}

p.fixed-text{
    color: black;
    padding-top: 16px;
    line-height: 1.5;
    font-size: 25px;
}
.skillPara{
   color: black;
   line-height: 1.4;
   font-size: 23px;
   margin: 0 14%;
}
.row h2 {
    color: grey;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
}

.progress-style{
    margin:1rem 0;
}

.htmlSection{
    background-color: pink;
}

.percentage{
    margin-left: 75%;
    font-weight: bold;
}
.h4 {
    font-size: 1rem;
    font-weight: 500;
}
.contact-section h1{
    color: grey;
    font-size: 3.4rem;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
}

/* .icon-row-contact{
}

.icon-row-contact i { */
    /* border-radius: 4px;
    cursor: pointer;
    font-size: 44px;
    margin: 10px;
    /* padding: 0px 3px; */
    color: black;
    text-align: center;
} */